.products-section {
  width: 100%;
  min-height: 90vh;
  padding: 80px 40px;
  background: linear-gradient(135deg, #001f4d, #003b8e);
  font-family: Arial, sans-serif;
}

.products-container {
  max-width: 1400px;
  margin: auto;
  text-align: center;
}

.small-heading {
  color: #d8d8d8;
  font-size: 13px;
  letter-spacing: 2px;
  /* margin-bottom: 15px; */
}

.main-heading {
  color: white;
  font-size: 58px;
  font-weight: 700;
  margin-bottom: 20px;
}

.slider-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.products-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 25px;
}

.product-card {
  background: white;
  border-radius: 18px;
  width: 290px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 30px 25px;
  text-align: left;
  transition: 0.4s;
}

.product-card:hover {
  transform: translateY(-10px);
}

.image-box {
  width: 100%;
  height: 130px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.image-box img {
  width: 80%;
  object-fit: cover;
  border-radius: 20px;
}

.product-card h2 {
  font-size: 22px;
  line-height: 1.25;
  color: #111;
  margin-top: 10px;
  /* margin-bottom: 18px; */
}

.product-card p {
  font-size: 15px;
  color: #666;
  line-height: 1.6;
  /* margin-bottom: 25px; */
}

.product-card a {
  text-decoration: none;
  color: #003b8e;
  font-size: 16px;
  font-weight: 700;
}

.product-card a span {
  margin-left: 8px;
}

.arrow-btn {
  width: 55px;
  height: 55px;
  border-radius: 50%;
  border: none;
  background: rgba(255, 255, 255, 0.25);
  color: white;
  font-size: 22px;
  cursor: pointer;
  transition: 0.3s;
}

.arrow-btn:hover {
  background: rgba(255, 255, 255, 0.4);
}

.view-btn {
  margin-top: 50px;
  padding: 18px 40px;
  border: none;
  border-radius: 14px;
  background: white;
  color: #003b8e;
  font-size: 16px;
  font-weight: 700;
  cursor: pointer;
  transition: 0.3s;
}

.view-btn:hover {
  transform: scale(1.05);
}

/* Tablet */

@media (max-width: 1200px) {
  .products-grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .main-heading {
    font-size: 48px;
  }
}

/* Mobile */

@media (max-width: 768px) {
  .products-section {
    padding: 60px 20px;
  }

  .products-grid {
    grid-template-columns: 1fr;
  }

  .main-heading {
    font-size: 28px;
  }

  .slider-wrapper {
    flex-direction: column;
  }

  .arrow-btn {
    display: none;
  }

  .product-card {
    width: 100%;
    padding-top: 50px;
  }
}
